*{margin:0; padding:0}

html, body {
    min-height: 100vh;
    background: linear-gradient(#222,#111);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

aside{
    position: fixed;
    top:calc(1.5rem + 1.5vw);
    right:calc(1.5rem + 1.5vw);
}

aside a{
    color:rgba(255,255,255,.5);
    text-decoration: none;
    z-index:9;
}

header{
    padding: 1rem 2rem 0.5rem 2rem; 
}


main{
    padding: 0.5rem 2rem 2rem 2rem;    
}

header, main{
    width: calc(100vw - 4rem);
}

h1 {
    font-size: calc(1.25rem + 5vw);
    font-weight: 100;
    margin-left: -5px;
    line-height: 1.5;
}

@media (orientation: portrait) {
    h1{ margin: 1rem 10rem 1rem 0; line-height:1.1 }
}

h2 {
    font-size: calc(1.25rem + 2.5vw);
    font-weight: normal;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


select, header > a{
    letter-spacing: 0.05rem;
    font-weight: bold;
    font-size:1rem;
    background:rgba(255,255,255,.1);
    color:rgba(255,255,255,.6);
    border:1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    text-decoration: none;
    margin:0;
    margin-left:-4px;
    box-shadow: 0 0 1px rgba(0,0,0,.2);

}

select{
    padding:0.25rem;
}

header > a{
    display:inline-block;
    padding:.25rem 2.5rem .25rem .5rem;
    transition:background ease .25s;
}

header > a:hover{
    background:rgba(255,255,255,.3);
    color:rgba(255,255,255,.8);
    text-decoration: none;
}

a {
    color: #bbb;
    text-decoration: underline;
}

a:hover {
    color: #fff;
}

main > div{
    width:24%;
    margin:1% 1% 0 0;
    background:rgba(255,255,255,.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    display:inline-block;
    vertical-align: bottom;
    overflow: hidden;
    border-radius: 3px;
}

@media (orientation: portrait) {
    main > div {
        width:49%;
    }
}

main > div > img{
    width:100%;
    max-width: 100%;
}

main > p{
    max-width:50rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

main > img{
    max-width: 100%;
    margin:1rem 0;
}

main > div > p{
    text-align: center;
    margin-top:0;
    margin-bottom:.5rem;
    padding:0;
}

.esconde{
    display: none;
}


